<div class="container">
	<h1>Users</h1>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tbody>
			{{#each model as |user|}}
				<tr>
					<td><a href="">{{user.name}}</a></td>
					<td>{{user.username}}</td>
					<td>{{user.email}}</td>
					<td>{{user.address.street}} {{user.address.suite}}<br /> {{user.address.city}} {{user.address.zipcode}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
{{outlet}}
